.container {
    margin-left: 5%;
    margin-right: 5%;
}

.text-center {
    text-align: center;
}

.mat-grid-tile {
    margin-bottom: 2%;
}

.component-m {
    margin-top: 5%;
    margin-bottom: 14%;
}

.text-pos {
    padding: 10%;
}

.img-border{
    border-radius: 10px;
}

.arrow{
    font-size: large;
}

.img-center{
    display: flex;
    justify-content: center;
    align-items: center;
}