<div class="container">
    <!-- Presentation -->
    <div class="row component-m">
        <div class="col xs6">
            <p class="text-center text-pos">
                “ Je suis une artiste passionnée par le monde du maquillage et des effets spéciaux, cherchant
                constamment à
                créer des
                expériences visuelles exceptionnelles. Ma carrière est marquée par une diversité de compétences et
                d'expériences dans
                les domaines du maquillage, des effets spéciaux et de la coordination d'équipes artistiques. “
            </p>
        </div>
        <div class="col xs6 text-center">
            <img src="assets/presentation/portraitOL.png" alt="auto portrait" width="306">
        </div>
    </div>

    <!-- Title -->
    <div class="row text-center">
        <h1>Compétences</h1>
    </div>

    <!-- Competances -->
    <div class="row component-m">
        <div class="col xs6 text-center">
            <img src="assets/presentation/montage Monkey.png" alt="logo" width="400">
        </div>
        <div class="col xs6">
            <ul>
                <li>
                    Réalisation de petits effets spéciaux, faux crâne, petites prothèses, blessures.
                </li>
                <li>
                    Réalisation d'effets spéciaux de transformation, visage complet, monstre, etc.
                </li>
                <li>
                    Travailler en équipe, coordonner l'activité d'une équipe.
                </li>
                <li>
                    Réalisation de postiches et perruques.
                </li>
                <li>
                    Confectionner des coiffures.
                </li>
                <li>
                    Connaissance des produits et techniques de maquillage.
                </li>
                <li>
                    Maquillage pour enfants.
                </li>
                <li>
                    Réalisation des maquillages sophistiqués, artistiques, mariage, mode, cinéma, télévision, photo,
                    théâtre, comédie
                    musicale, maquillage lash, etc.
                </li>
                <li>
                    Organiser des projets artistiques, tels que les projets shooting photo, trouver le style, les lieux,
                    les mannequins,
                    etc.
                </li>
            </ul>
        </div>
    </div>

    <div class="row text-center">
        <h1>Long métrage</h1>
    </div>

    <!-- Long Metrage -->
    <div class="row component-m">
        <div class="col xs2">
            <img class="img-border" src="assets/longMetrage/co5jBeCwHerfC0GPvxLH0D4qj5q.jpg" alt="" height="406">
        </div>
        <div class="col xs2">
            <img class="img-border" src="assets/longMetrage/e3e38273924a2dd3dc557c7d379ee051.jpg" alt="" height="406">
        </div>
        <div class="col xs2">
            <img class="img-border" src="assets/longMetrage/Pearl.jpg" alt="" height="406">
        </div>
    </div>

    <div class="row text-center">
        <h1>Court métrage</h1>
    </div>

    <!-- Court metrage-->
    <div class="row">
        <div class="col xs12 img-center" >
            <img class="img-border" src="assets/courtMetrage/g_40_2JSq0RY96K.jpg" alt="" width="80%">
        </div>
    </div>
    <div class="row component-m">
        <div class="col xs6">
            <ul>
                <li>"Titre" de Thiago Atnt</li>
                <li>"OTAR" de Otar KLV | du 31 janvier au 3 fevrier 2018 ] Lien</li>
                <li>Pos & Kadma" De Victor Chanal / du 3 au 8 juin 2018 J</li>
                <li>"Les pigeons" de Stephane Hausauer /04/12/2020] Eestival Nikon</li>
                <li>"Allumez le feu" de Vianney Thibault Brucher [ du 16 fevrier au 21 fevrier 2021]</li>
                <li>"Sans titre" de Théo Puerta [ du 2 au 5 mars 2021]</li>
            </ul>
        </div>
        <div class="col xs6">
            <ul>
                <li>"Du lierre sur le perron" de Charlotte Chaland [ du 6 au 9 mars 2021]</li>
                <li>"Remue ménage" de Lucien Hebrant | du 31 mars au 5 avril 2021]</li>
                <li>"En attendant les lendemains qui chantent" de Léo Brunet / du 16 avril au 25 avril 2021]</li>
                <li>"Dernier verre" de Mindset prodution / août 2021]</li>
                <li>"La chich" de Otar KLV épisodel</li>
            </ul>
        </div>
    </div>

    <div class="row text-center">
        <h1>Tournage clip video</h1>
    </div>

    <!-- Tournage clip video -->
    <div class="row component-m">
        <div class="col xs2 img-center">
            <img class="img-border" src="assets/clipVideo/TWICE2019_MNL_Poster-with-price_web_resized.jpg" alt="" height="70%" width="100%">
        </div>
        <div class="col xs2 img-center">
            <img class="img-border" src="assets/clipVideo/ab67616d0000b2735584cef27416228a72974d02.jpeg" alt="" width="100%">
        </div>
        <div class="col xs2 img-center">
            <img class="img-border" src="assets/clipVideo/maxresdefault-2.jpg" alt="" width="100%">
        </div>
        <div class="col xs2 img-center">
            <img class="img-border" src="assets/clipVideo/maxresdefault.jpg" alt="" width="100%">
        </div>
        <div class="col xs1 img-center">
            <img class="img-center" src="assets/clipVideo/ icon _chevron-right_.png" alt="">
        </div>
    </div>

    <div class="row text-center">
        <h1>shooting photo</h1>
    </div>

    <div class="row component-m">
        <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
            <mdb-carousel-item>
                <img src="assets/shootingPhoto/g_40_4sit93BPrn.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img src="assets/shootingPhoto/g_40_6JQoZ4FowR.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img src="assets/shootingPhoto/g_40_mKijYcKpqj.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>phooting photo</h5>
                    <p>Presentation shooting photo</p>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>

</div>